{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier"],
  "extends": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": "test/**/*.spec.*",
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
